@model IEnumerable<Blog.Models.Post>
@{
    ViewBag.Title = "Eliminar Posts";
}

<h2>@ViewBag.Title</h2>
<form asp-controller="Post" asp-action="ElegirEdicion">
    <p>
        Busqueda por Titulo: <input type="text" name="SearchString">
        <input type="submit" value="Buscar" />
    </p>

</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contenido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagen)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contenido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
        </tr>
    }

</table>

