@model IEnumerable<Blog.Models.Post>

@{
   

}

<h2>@ViewBag.Title</h2>



<div class="row">
    <div class="col-6">
        <h2 class="text-primary"> Lista de Blogs </h2>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-primary" asp-action="Create"> <i class="fas fa-plus"></i> Crear Nuevo</a>
    </div>
</div>


    <form asp-controller="BlogController" asp-action="Index">
    <p>
        Titulo: <input type="text" name="Filtros">
        <input type="submit" value="Buscar" />
    </p>
</form>

<table class="table">


    @foreach (var item in Model)
    {
        <tr>
            <td>
                <b style="color:forestgreen; font-size:large; "> @Html.DisplayFor(modelItem => item.Titulo) </b> <br />

            </td>
        </tr>
        <tr>
            <td>
                Categoria: <a href="~/Blog/@item.Categoria"> @Html.DisplayFor(modelItem => item.Categoria)</a>
            </td>

            <td>
                Fecha de Creacion:  @Html.DisplayFor(modelItem => item.FechaDeCreacion)
            </td>

            <td>
                @if (item.Estado == true)
                {
                    <p>Activo</p>
                }
                else
                {
                    <p>Inactivo</p>
                }

            </td>
        
            <td>
                @Html.ActionLink("Ver más", "Details", new { id = item.Id })
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                @Html.ActionLink("Editar", "Edit", new { id = item.Id })

            </td>
            <td>
            </td>

        </tr>

    }

</table>
